@font-face{
    font-family: georgia;
  
}

body {
    margin: 0;
}

.konten {
    margin-left: 10px;
}


.fitur {
    margin-left: 10px;
}

.footer {
    text-align: center;
}

.container{
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.header {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#04cdff, hsl(192, 99%, 37%), hsl(192, 100%, 22%));
    height: 70px;
    
}

.header .logo{
    float: left;
    font-size: 25px;
    font-family: Rowdies;
    margin-top: 20px;
}

.header .navigation{
    float: right;
    margin: 25px;
}

.header .navigation li{
    float: right;
    margin-left: 20px;
    display: block;
}

.header .navigation li a{
    color: #000000;
    text-decoration: none;
    font-family: Zilla slab;
}

.header .navigation li a:hover{
    color: gray;
}

.ikon-kelas{
    width: 400px;
    height: 400px;
    background-color: deepskyblue;
    border-radius: 50%;
}

.parent {
    margin-top: 100px;
}
